.col-2 {
  width: auto;
  padding: 30px;
  background: -webkit-linear-gradient(left,black,grey,white,black);
}
.col-3 {
    width: auto;
    background: -webkit-linear-gradient(right,black,grey,white,black);
    padding: 91px;
  }
#image {
    position: absolute;
    height: auto;
    width: auto;
}
#block2 {
  position: relative;
  margin-top: 20px;
}
#sidebar {
  float:right;
  color: green;
  width: 300px;
  border: 25px solid green;
  padding: 25px;
  margin: 25px;
}
#footerID {
  position: relative;
  margin-top: 95px;
  padding: 90px;
  background: -webkit-linear-gradient(left,black,grey,white,black);
}
