/*-----------------------------------------------------------*/


/* Webpage Container */

body {
    font-family: 'Raleway', Helvetica, sans-serif;
    background: #EEEFF1;
}

.container {
    margin: 1em;
}


/*-----------------------------------------------------------*/


/* Header Container */

header {
    text-transform: uppercase;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

header a {
    text-decoration: none;
}


/*-----------------------------------------------------------*/


/* Social Container */

header .social {
    background-color: #fff;
    top: 0px;
    left: 0px;
    right: 2px;
    width: 100%;
    height: 4em;
    display: inline-flex;
    justify-content: flex-end;
    font-size: 0.6em;
    border-bottom: 1px solid #d3d3d3;
}

header .social li, header .social a {
    color: #000;
    font-weight: 100;
    display: inline-block;
    font-size: 1em;
    letter-spacing: 0.03em;
    margin-left: 0.2em;
    margin-right: 0.2em;
}


/*-----------------------------------------------------------*/


/* Menu Container */

header .menu {
    background-color: #fff;
    left: 0;
    top: 2.1em;
    width: 100%;
    height: 4em;
    display: inline-block;
    padding-bottom: 0;
    border-bottom: 1px solid #d3d3d3;
}

header .menu li {
    color: #000000;
    display: inline-block;
    font-weight: 100;
    letter-spacing: 0.03em;
    margin-left: 0.6em;
    margin-right: 0.6em;
    padding-top: 0.5em;
}

header .menu a {
    color: #000000;
    font-weight: 1;
    display: inline-block;
    letter-spacing: 0.03em;
}

header .menu h1 {
    font-size: 1.5em;
}


/*-----------------------------------------------------------*/


/* Logo Container */

.logo {
    float: left;
    padding-top: 0;
    margin-top: 0;
    margin-left: 2em;
    padding-left: 2em;
}


/*-----------------------------------------------------------*/


/* Navigation Container */

.navbar {
    float: right;
    padding-top: 0.5em;
}


/*-----------------------------------------------------------*/


/* Submenu Container */

.submenu div {
    background-color: #fff;
    left: 0;
    top: 0;
    width: 100%;
    height: 4em;
    display: inline-block;
    text-align: center;
    padding-bottom: 0;
    border-bottom: 1px solid #d3d3d3;
}

.submenu div li {
    color: #000000;
    display: inline-block;
    font-weight: 100;
    letter-spacing: 0.03em;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 0.5em;
}

.submenu div a {
    color: #000000;
    font-weight: 1;
    display: inline-block;
    letter-spacing: 0.03em;
}


/*-----------------------------------------------------------*/


/* Banner Container */

.banner {
    margin-top: 7em;
    background: url(https://www.lagreefitness.com/uploads/slike_slider/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background: relative;
    height: 500px;
}

.bannertext {
    position: absolute;
    bottom: 5em;
    text-align: center;
}

.bannertext h1 {
    color: #fff;
    font-size: 7em;
    font-weight: 600;
    text-transform: uppercase;
}

.bannertext h2 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 1em;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 2em;
}

.bannerbutton {
    background-color: #333;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.3px;
    padding: 16px 40px;
    text-decoration: none;
    text-transform: uppercase;
}

.bannerbutton:hover {
    background-color: #696969;
}


/*-----------------------------------------------------------*/


/* Services Container */

.services {
    width: 100%;
    text-align: center;
}

figure {
    padding-left: 2em;
    width: 30em;
    display: inline-block;
    color: #fff;
    text-align: left;
    overflow: hidden;
    height: 300px;
    margin: .5em;
}

figure h2 {
    text-shadow: 1px 1px 3px #000;
    text-transform: uppercase;
    font-weight: 1000;
    margin-bottom: 150px;
}

figure p {
    text-shadow: 1px 1px 5px #000;
}

.servicetitle {
    top: 50px;
}

.servicedescription {}

#fitness {
    background: url(http://www.magic4walls.com/wp-content/uploads/2015/06/Young-Woman-stretching-hamstring-legs-exercise-training-fitness-694x417.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

#nutrition {
    background: url(http://cdn29.us1.fansshare.com/images/vegan/vegan-healthy-hd-wallpapers-download-people-1406460549.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

#lifecoach {
    background: url(http://cdn.paper4pc.com/images/mountain-top-wallpaper-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

#physio {
    background: url(http://www.shximai.com/data/out/167/67006742-run-wallpapers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}


/*************************************************************/


/*Description*/

.description {
    padding: 4em 0em 4em 0em;
    text-align: center;
}


/*************************************************************/


/*Promobanner*/

#promo1 {
    margin-top: .5em  ;
    background: url(http://www.shximai.com/data/out/167/67006742-run-wallpapers.jpg);
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
}

#promo1 .bannertext{
  text-align: left;
  position: absolute;
  left:5em;
  bottom: 2em;
}

#promo2 {
    margin-top: .5em  ;
    background: url((http://cdn.paper4pc.com/images/mountain-top-wallpaper-1.jpg);
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
}

#promo2 .bannertext{
  text-align: right;
  position: absolute;
  right:5em;
  top: 2em;
}

/*-----------------------------------------------------------*/


/* Footer Container */

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}


/*-----------------------------------------------------------*/


/* Default Button */

.btn-default {
    border: 1px solid #fff;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 1.3px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 20px;
    background-color: rgba(169, 169, 169, 0.2);
}

.btn-default:hover {
    background-color: rgba(119, 136, 153, 1);
}
