/*-----------------------------------------------------------*/
/* Webpage Container */

body {
  font-family: 'Raleway', Helvetica, sans-serif;
  background: #EEEFF1;
}

/*-----------------------------------------------------------*/
/* Header Container */

header{
  text-transform: uppercase;

  top: 0;
  left: 0;
  width: 100%;

  position: fixed;
  z-index: 1000;
}


header a{
  text-decoration: none;
}

/*-----------------------------------------------------------*/
/* Social Container */

header .social{
  background-color: #fff;

  top: 0px;
  left: 0px;
  right: 2px;
  width: 100%;
  height: 4em;

  display: inline-flex;
  justify-content: flex-end;

  font-size: 0.6em;

  border-bottom: 1px solid #d3d3d3;
}

header .social li,header .social a {
  color: #000;
  font-weight: 100;
  display: inline-block;
  font-size: 1em;
  letter-spacing: 0.03em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

/*-----------------------------------------------------------*/
/* Menu Container */

header .menu{
  background-color: #fff;

  left: 0;
  top: 2.1em;
  width: 100%;
  height: 4em;

  display: inline-block;
  padding-bottom: 0;

  border-bottom: 1px solid #d3d3d3;
}

header .menu li {
  color: #000000;
  display: inline-block;
  font-weight: 100;
  letter-spacing: 0.03em;
  margin-left: 0.6em;
  margin-right: 0.6em;
  padding-top: 0.5em;
}

header .menu a{
  color: #000000;
  font-weight: 1;
  display: inline-block;
  letter-spacing: 0.03em;
}

header .menu h1{
  font-size: 1.5em;
}

/*-----------------------------------------------------------*/
/* Logo Container */

.logo{
  float: left;
  padding-top: 0;
  margin-top: 0;
  margin-left: 2em;
  padding-left: 2em;
}

/*-----------------------------------------------------------*/
/* Navigation Container */

.navbar{
  float: right;
  padding-top: 0.5em;
}

/*-----------------------------------------------------------*/
/* Submenu Container */

.submenu div{
    background-color: #fff;

    left: 0;
    top: 0;
    width: 100%;
    height: 4em;

    display: inline-block;
    text-align: center;
    padding-bottom: 0;

    border-bottom: 1px solid #d3d3d3;
}


.submenu div li {
  color: #000000;
  display: inline-block;
  font-weight: 100;
  letter-spacing: 0.03em;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 0.5em;
}

.submenu div a{
  color: #000000;
  font-weight: 1;
  display: inline-block;
  letter-spacing: 0.03em;
}

/*-----------------------------------------------------------*/
/* Banner Container */

.banner {
  margin-top: 7em;

  background: url(https://www.lagreefitness.com/uploads/slike_slider/4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  height: 500px;
}

.bannertext{
  position: relative;
  top: 100px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 80px;
}

.bannertext h1{
  color: #fff;
  font-size: 7em;
  font-weight: 600;
  text-transform: uppercase;
}

.bannertext h2{
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 1em;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 2em;
}

.bannerbutton{
  background-color: #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.bannerbutton:hover{
	background-color: #696969;
}

/*-----------------------------------------------------------*/
/* Services Container */

figure{
  width: 40%;
  display: inline-block;
  color: #fff;
  padding: 1em;
  height: 300px;
}

figure h2{
  text-shadow: 1px 1px 3px #000;
  text-transform: uppercase;
  font-weight: 1000;
  margin-bottom: 150px;
}

figure p{
  text-shadow: 1px 1px 5px #000;
}

.servicetitle{
  top: 50px;
}

.servicedescription{
}

#fitness{
  background: url(http://www.magic4walls.com/wp-content/uploads/2015/06/Young-Woman-stretching-hamstring-legs-exercise-training-fitness-694x417.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#nutrition{
  background: url(http://cdn29.us1.fansshare.com/images/vegan/vegan-healthy-hd-wallpapers-download-people-1406460549.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#lifecoach{
  background: url(http://cdn.paper4pc.com/images/mountain-top-wallpaper-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#physio{
  background: url(http://www.shximai.com/data/out/167/67006742-run-wallpapers.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

/*-----------------------------------------------------------*/
/* Footer Container */

footer{
}


/*-----------------------------------------------------------*/
/* Default Button */

.btn-default {
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1.3px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 20px;
  background-color: rgba(169,169,169,0.2);
}

.btn-default:hover{
	background-color: rgba(119,136,153,1);
}